.artist-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  text-align: center;
  margin: 0;
}

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.img {
  display: block;
  max-width: 100%;
  margin-top: 32px;
}

.video {
  width: 100%;

  iframe {
    display: block;
    max-width: 100%;
  }
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
