<p>Усі пісні — авторські. Музику та слова пише особисто Dimonator.</p>

<h2>Хто такий Dimonator?</h2>

<p>Навіть не знаю, що тут сказати. У мене широкий бекграунд, бо цікавлюся буквально всім.
  Життя не вистачить, щоб усе спробувати та пізнати.</p>

<p>Програміст, трохи музикант і композитор, колишній трейсер (є думка повернутись до тренувань).</p>

<p>Dimonator — псевдонім, який з’явився історично. Колись займався паркуром і робив всяке божевілля. Нижче — два відео:
  одне з фейлами, інше — більш-менш адекватне.</p>

<h3>Фейли:</h3>

<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/P9KrpRkLAeQ?si=2E4dIhXNfaXanKlZ"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<h3>Нормальні моменти:</h3>

<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/WPdRnhi0wWA?si=M6AtswKmBVUBM0e3"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<p>А це я вирішив стилізувати стоп-кадр з відео мого “найпотужнішого” фейлу і зробити з нього щось типу аватарки,
  типу "не такий як всі".</p>
<div class="img">
  <img src="./fail.jpg">
</div>

<div class="actions">
  <button class="btn" routerLink="/">На головну</button>
</div>
