.title {
  margin-bottom: 16px;
  margin-top: 0;
}

.links {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

li {
  width: 100%;
}

.icon {
  display: block;
  height: 16px;
  width: 16px;
}
