@if (song) {
  <div class="song-details">
    <div class="preview-container">
      <iframe
        style="border-radius:8px"
        [src]="safeSrc"
        width="100%"
        height="352"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy">
      </iframe>
    </div>

    <app-streaming-links [links]="formattedLinks"/>

    <div class="actions">
      <button class="btn" routerLink="/">Список пісень</button>
    </div>
  </div>
}
