.song-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  text-align: center;
  margin: 0;
}

.preview-container {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
} 